@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --bg-light: #dadee5;
    --text-light: #32393D;
    --text2-light: #B1BFC8;
    --primary-light: #269274;
    --secondary-light: #b8bdbb;

    --bg-dark: #1F2326;
    --text-dark: #cecece;
    --text2-dark: #57565B;
    --primary-dark: #25B38B;
    --secondary-dark: #263C3B;
}

.mono-font {
    font-family: "DM Mono", monospace;
}

.sans-font {
    font-family: "DM Sans", sans-serif;
}
